<header class="header">
  <div class="contacts-header">
    <!-- <button class="burger-btn" (click)="toggleMenu()">&#9776;</button>
    <div class="sidebar" [class.open]="isMenuOpen">
      <button class="close-btn" (click)="toggleMenu()">×</button>
      <button (click)="addRandom()">Add random contacts</button>
      <button routerLink="/contacts/new">Add new contact</button>
    </div> -->
  </div>
    <h2>Contacts List</h2>
    <div class="actions">
      <button class="icon-btn" (click)="searchOpen = !searchOpen">
        <span class="material-icons">search</span>
      </button>
      <button (click)="addRandom()"><span class="material-icons">auto_awesome</span></button>
      <button routerLink="/contacts/new"><span class="material-icons">person_add</span></button>
      <div class="search-container" [class.open]="searchOpen">    
        <div class="search-box" *ngIf="searchOpen">
          <input
            type="search"
            [(ngModel)]="searchTerm"
            (input)="filterContacts()"
            placeholder="Search..."/>   
        </div>    
      </div>
    </div>
  </header>
  <div class="list-wrapper">
    <div *ngFor="let group of filteredGroupedList">
      <h4 class="group-letter">{{ group.key }}</h4>
      <app-contact-card *ngFor="let contact of group.contacts" [contact]="contact"></app-contact-card>
    </div>   
  </div>
  <footer>
      <nav class="bottom-nav">
        <button>Recent</button>
        <button class="active">Contacts</button>
        <button>Favorites</button>
      </nav>
  </footer>
  