<div class="contact-card">
    <div class="banner">
        <img src="assets/images/all-clouds.jpg" alt="Banner" />
        <div class="title">
            <h2 *ngIf="mode === 'create'">Create New Contact</h2>
            <h2 *ngIf="mode === 'edit'">Edit Contact</h2>
            <h2 *ngIf="mode === 'view'">Contact Details</h2>
            <div class="buttons">
                <button (click)="toContact()"><span class="material-icons">arrow_back</span></button>
                <div>
                    <button *ngIf="mode !== 'create'" (click)="deleteItem()"><span class="material-icons">delete</span></button>
                    <button *ngIf="mode === 'view'" (click)="editContact('Edit')"><span class="material-icons">edit</span></button>
                    <button *ngIf="mode === 'edit'" (click)="editContact('View')"><span class="material-icons">visibility</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="profile">
      <img class="avatar" [src]="imgPath()" [alt]="contact.name + ' Photo'">
      <div *ngIf="mode !== 'view'">
        <!-- <img src="assets/images/cam3.png" alt="Camera Icon" class="cam-icon"> -->
        <span class="material-icons cam-icon" >add_a_photo</span>
        <input type="file" accept="image/*" class="upload-input" id="imageUpload" (change)="onFileSelected($event)">
      </div>
    </div>

    <div class="info">
      <div class="name-wrapper">
        <h2 *ngIf="mode === 'view'">{{ contact.name }}</h2>
        <h2>
          <input 
            type="text" 
            *ngIf="mode !== 'view'" 
            [(ngModel)]="contact.name" 
            name="name" 
            placeholder="Name *" 
            (blur)="touched.name = true; validateFields()"
            (keyup.enter)="touched.name = true; validateFields()"
            [class.invalid]="touched.name && !valid.name"
          />
        </h2>
        <div class="error" *ngIf="touched.name && !valid.name && mode !== 'view'">Name is required</div>
      </div>

      <div class="contact-details">
        <div class="detail-item">
            <span class="material-icons">location_on</span>
            <div *ngIf="mode === 'view'" class="detail-text">{{ contact.fullAddress }}</div>
            <input type="text" *ngIf="mode !== 'view'" [(ngModel)]="contact.fullAddress" name="fullAddress" placeholder="Full Address" />
        </div>
        <div class="detail-item">
            <span class="material-icons">smartphone</span>
            <div *ngIf="mode === 'view'" class="detail-text">{{ contact.cell }}</div>
            <input type="text" *ngIf="mode !== 'view'" [(ngModel)]="contact.cell" name="cell" placeholder="cell"
              (blur)="touched.cell = true; validateFields()"
              (keyup.enter)="touched.cell = true; validateFields()"
              [class.invalid]="touched.cell && !valid.cell"/>
            <div class="error" *ngIf="touched.cell && !valid.cell">Invalid cell format</div>        
        </div>
        <div class="detail-item">
          <span class="material-icons">call</span>
          <div *ngIf="mode === 'view'" class="detail-text">{{ contact.phone }}</div>
            <input 
              type="text" 
              *ngIf="mode !== 'view'" 
              [(ngModel)]="contact.phone" 
              name="phone" 
              placeholder="Phone *"
              (blur)="touched.phone = true; validateFields()"
              (keyup.enter)="touched.phone = true; validateFields()"
              [class.invalid]="touched.phone && !valid.phone"
            />
          <div class="error" *ngIf="touched.phone && !valid.phone">Phone is required and must be valid</div>        
        </div>
        <div class="detail-item">
          <span class="material-icons">mail</span>
          <div *ngIf="mode === 'view'" class="detail-text">{{ contact.email }}</div>
            <input 
              type="email" 
              *ngIf="mode !== 'view'" 
              [(ngModel)]="contact.email" 
              name="email" 
              placeholder="Email *" 
              (blur)="touched.email = true; validateFields()"
              (keyup.enter)="touched.email = true; validateFields()"
              [class.invalid]="touched.email && !valid.email"
            />
          <div class="error" *ngIf="touched.email && !valid.email">Email is required and must be valid</div>
        </div>
        <div class="detail-item">
            <span class="material-icons">event</span>
            <div *ngIf="mode === 'view'" class="detail-text">{{ contact.registrationDate | date}}</div>
            <input type="date" *ngIf="mode !== 'view'" [(ngModel)]="contact.registrationDate" name="registrationDate" placeholder="Registration Date" />
        </div>
        <div class="detail-item">
            <span class="material-icons">person</span>
            <div *ngIf="mode === 'view'" class="detail-text">{{ contact.age }}</div>
            <input type="number" *ngIf="mode !== 'view'" max="120" min="0" [(ngModel)]="contact.age" name="age" placeholder="age" />
        </div>
        <button class="btn save-btn" *ngIf="mode !== 'view'" (click)="save(mode)">{{ mode === 'create' ? 'Create' : 'Update' }}</button>
      </div>
    </div>
  </div>
