.notification-container {
  position: fixed;
  top: 30px;
  width: 85vw;
  margin: 10px 27px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  }
  
  .notification {
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
  }
  
.success { background-color: rgba(76, 175, 80, 0.6); }
.error { background-color: rgba(244, 67, 54, 0.6); }
.info { background-color: rgba(33, 150, 243, 0.6); }
  