<div class="contact-card" (click)="openDetail(contact.id)">
    <img class="avatar" 
      [src]="contact?.image?.startsWith('/uploads/') ? 'http://localhost:3000' + contact.image : contact.image" 
      alt="avatar">
    <div class="contact-info">
      <h3>{{ contact.name }}</h3>
      <p><span class="material-icons">smartphone</span> {{ contact.cell }}</p>
      <!-- <p><span class="material-icons">call</span> {{ contact.phone }}</p> -->
      <p><span class="material-icons">mail</span> {{ contact.email }}</p>
    </div>
  </div>
  